
<h3>Start tweeting, <%= @user.username %>!</h3>

<form action="/tweets" method="POST">

  <label>New tweet</label>
  <br>
  <input type="text" name="content">
  <br>
  <input type="submit" id="submit" value="Tweet">
</form>