<h3><%= @content %></h3>

<form action="/tweets/:id" method="POST">
  <input type="hidden" value="Delete Tweet">
  <input type="submit">
</form>

<form action="/tweets/:id" method="POST">
  <input type="hidden" value="Edit Tweet">
  <input type="submit">
</form>